@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {

}

/* semantic color variables for this project */
:root {
    --color-background: white;
    --color-text: black;
    --h1-font-size: 30px;
    --h2-font-size: 26px;
    --h3-font-size: 20px;
    --body-font-size: 16px;
    --body-small-font-size: 12px;
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: bold;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-size: var(--body-font-size);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
